@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

body{
    background-image: url('Pay to Win/BG.jpg');
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    font-size: 1.1rem;
}
.container{
    width: 100%;
    height: auto;
    max-width: 1024px;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-1{
    height: 38vh;
}
.text-center{
    text-align: center;
}
.btn-enter-web{
    font-family: 'Bai Jamjuree', sans-serif;
    border-radius: 250px;
    padding: 0.3rem 3rem;
    background-color: hsl(0, 100%, 100%);
    border-color: transparent;
    border-width: 0.2rem;
    box-shadow: 4px 4px hsl(228, 82%, 51%);
    font-size: 1.1rem;
}
.btn-enter-web:hover{
    background-color: hsl(230, 100%, 71%);
    border-color: transparent;
    color: white;
    
}
@media screen and (max-width:375px){
    body,.btn-enter-web{
        font-size: 0.8rem;
    }
}