@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

body{
    background-image: url('Pay to Win/BG.jpg');
    font-family: 'Noto Sans Thai', sans-serif;
    display: flex;
}
.container{
    width: 100%;
    height: auto;
    max-width: 1024px;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-1{
    width: 28%;
    height: auto;
}
.text-center{
    text-align: center;
}
.btn-enter-web{
    font-family: 'Noto Sans Thai', sans-serif;
    border-radius: 250px;
    padding: 0.3rem 3rem;
    background-color: transparent;
    border-color: black;
    border-width: 0.2rem;
    font-size: 1.4rem;
    box-shadow: 4px 4px hsl(228, 82%, 51%);
}
.btn-enter-web:hover{
    background-color: lightskyblue;
    border-color: transparent;
    color: white;
    
}
