@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

body{
    background-image: url('Pay to Win/BG.jpg');
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    font-size: 0.9rem;
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    height: auto;
    max-width: 1024px;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-1{
    height: 35vh;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.btn-enter-web{
    font-family: 'Bai Jamjuree', sans-serif;
    border-radius: 250px;
    padding: 0.3rem 3rem;
    background-color: hsl(0, 100%, 100%);
    border-color: transparent;
    border-width: 0.2rem;
    box-shadow: 4px 4px hsl(228, 82%, 51%);
    font-size: 0.9rem;
}
.btn-enter-web:hover{
    background-color: hsl(230, 100%, 71%);
    border-color: transparent;
    color: white;
    
}
.logo-top-left{
    padding-left: 1rem;
    padding-top: 1rem;
    position: absolute;
}
.padding-t-b{
    padding: 3vh 0vh;
}

/*country or abroad*/
.btn{
    background: none;
    border: none;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
    position: absolute;
    top : 40%;
    z-index: 100;
}
.btn.btn-left{
    left: 30%;
}
.btn.btn-right{
    right: 30%;
}
.arrow{
    width: 30px;
    height: auto;
}
.text-box{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: white;
    text-align: center;
    color: black;
    padding: 0.1rem 3rem;
    font-size: 0.9rem;
    font-weight: bold;
}
.icon{
    width: 20px;
    height: auto;
    padding: 0 1rem;
}
.text-price{
    color: red;
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
}
/*dataset country or abroad*/
.abroad[data-swap="0"]{
    display: none;
}

/*dataset take-extra-classes*/
.tutor[data-swap="0"]{
    display: none;
}

.with_vdo[data-swap="0"]{
    display: none;
}
.not_tacke_extra_classes[data-swap="0"]{
    display: none;
}